

.cricket-field {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center; 
  background-size: cover;
  background-position: center;
}

.pitch {
  width: 100%;
  height: 100px; 
  background-color: #f3e5ab;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-top: 2px solid #d4c590;
  border-bottom: 2px solid #d4c590;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.batsman-sprite {
  position: absolute;
  left: 50px; 
  top: 50%;
  transform: translateY(-50%); 
  width: 120px;
  mix-blend-mode: multiply;
  z-index: 5;
}

.ball-sprite {
  position: absolute;
  width: 20px;
  right: 50px; 
  top: 50%;
  transform: translateY(-50%);
  mix-blend-mode: multiply;
  display: none;
  z-index: 10;
}


.bowling-animation {
  display: block;
  animation: deliverBallHorizontal 1.2s linear forwards;
}

@keyframes deliverBallHorizontal {
  0% { 
    right: 50px; 
    transform: translateY(-50%) scale(0.7); 
  }
  100% { 
    right: 80%; 
    transform: translateY(-50%) scale(1); 
  }
}


.hit-animation {
  animation: swingBatSide 0.3s ease-in-out;
}

@keyframes swingBatSide {
  0% { transform: translateY(-50%) rotate(0deg); }
  50% { transform: translateY(-50%) rotate(-20deg); }
  100% { transform: translateY(-50%) rotate(0deg); }
}